{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %} {% include 'inc/header.html.twig' %} {% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-emoji-smile" viewBox="0 0 16 16" >
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
            <p style="color: green" class="text-center font-weight-bold font-italic mt-3" >What went well?</p>
            <p class="text-muted text-center">
                Things we are happy about.
            </p>
            <div class="form-outer">
                <div class="container">
                    <form class="form">
                        <div class="form-input">
                            <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <input style="color: green" type="text" class="happy" id="exampleorg1">
                        </div>
                        <button type="button" class=" mt-40 btn btn-outline-success btn-lg btn-block" name="add" value="true">Create</button>
                    </form>
                      {% for item in data %}
                        <p>{{ item.user_happy }}</p>
                    {% endfor %}
                    {#
                    <h2>deneme</h2>
                    {{ form(brain_form) }}

                    {% for item in data %}
                    {% endfor %}
                    #}
                </div>
            </div>



        </div>
            <div class="col-sm-4">
                <svg xmlns="http://www.w3.org/2000/svg"  width="100" height="100" fill="red" class="bi bi-emoji-expressionless" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm5 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <p  style="color: red" class="text-center font-weight-bold font-italic mt-3">What went less well?</p>
                <p class="text-muted text-center">
                    Things we should improve.
                </p>
                <div class="form-outer">
                    <div class="container">
                        <form class="form">
                            <div class="form-input">
                                <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <input style="color: red" type="text" class="happy" id="exampleorg2">
                            </div>
                            <button type="button" class=" mb-40 btn btn-outline-danger btn-lg btn-block" name="add" value="true">Create</button>
                        </form>
                      {% for item in data %}
                            <p>{{ item.user_less }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>


                <div class="col-sm-4">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="100" height="100" fill="blue" class="bi bi-lightbulb" viewBox="0 0 16 16">
                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                    </svg>
                    <p style="color: blue" class="text-center font-weight-bold font-italic mt-3">What do we want to try?</p>
                    <p class="text-muted text-center">
                        Things we should do differently.
                    </p>
                    <div class="form-outer">
                        <div class="container">
                            <form class="form">
                                <div class="form-input">
                                    <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <input style="color: blue" type="text" class="happy" id="exampleorg3">
                                </div>
                                <button type="button" class=" mb-40 btn btn-outline-primary btn-lg btn-block" name="add" value="true">Create</button>
                            </form>
                             {% for item in data %}
                                <p>{{ item.user_next }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>






</div>

{% endblock %}
