<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <h2> <a class="navbar-brand pr-5" href="/">
                    <img src="{{ asset('assets/img/TeamRetro.png') }}" alt="logo" width="150" height="150">
                </a>
            </h2>
            <p>TeamRetro is an online retrospective meeting tool and team health check tool – enabling continuous improvement for remote teams.</p>
            <p>Copyright © 2021 GroupMap Technology Pty. Ltd. ABN 95 160 220 520</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>TEAMRETRO</h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Schedule a Demo</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">GDPR</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>


