<header>
    <nav class="navbar navbar-light col-md-10 mx-auto navbar-expand-lg px-5">
        <a class="navbar-brand pr-5" href="/">
            <img src="{{ asset('assets/img/TeamRetro.png') }}" alt="logo" width="150" height="150">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Menü">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse navbar-light bg-light" id="navbarMenu">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="">RetroSpectives</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register"><span class="fa fa-user"></span>Sign up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="/login"><span class="fa fa-sign-in-alt"></span>Login</a>
                </li>
            </ul>


        </div>










        {#

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/home/comment">BRAINSTORM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">GROUP<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">VOTE</a>
                <a class="nav-link" href="#">DISCUSS</a>
            </div>
        </div>
        #}
    </nav>
</header>